header {
  background-color: #333;
  color: #fff;
  margin-bottom: 25px;
}

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

h1 {
  font-size: 24px;
}

ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 42px;
}

li {
  margin-right: 20px;
}

.user-profile {
  display: flex;
  align-items: center;
}

.user-profile span {
  margin-left: 10px;
}